version: '3.8'

services:
  backend:
    image: ${DOCKER_USERNAME}/manhwa-api:${TAG:-latest}
    container_name: manhwa_api
    restart: always
    ports:
      - "5000:8080"
    env_file:
      - .env
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - truyenverse_net

  rabbitmq:
    image: rabbitmq:3-management
    container_name: manhwa_rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672" 
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "check_running"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - truyenverse_net
networks:
  truyenverse_net:
    driver: bridge