name: CI/CD Manhwa Backend

on:
  push:
    branches: [ "master" ] 

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    outputs:
      short_sha: ${{ steps.vars.outputs.sha_short }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set Short SHA
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Src/Manhwa.WebAPI/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/manhwa-api:${{ steps.vars.outputs.sha_short }}
            ${{ secrets.DOCKER_USERNAME }}/manhwa-api:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create .env file
        run: |
          echo "${{ secrets.ENV_FILE }}" > .env
          echo "DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }}" >> .env
          echo "TAG=${{ needs.build-and-push.outputs.short_sha }}" >> .env

      - name: Copy Files to Server (SCP)
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "docker-compose.yml, .env"
          target: "/var/www/backend-manhwa"

      - name: Execute Deployment via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/backend-manhwa
            # Kéo image mới về
            sudo docker-compose pull backend
            # Chỉ khởi động lại backend và rabbitmq, không ảnh hưởng frontend khác
            sudo docker-compose up -d --remove-orphans
            # Dọn dẹp các image cũ không còn dùng (tiết kiệm bộ nhớ VPS)
            sudo docker image prune -f